@charset "UTF-8";
.el-cascader {
  display: inline-block;
  position: relative;
  font-size: 13px;
  line-height: 32px; }
  .el-cascader .el-input,
  .el-cascader .el-input__inner {
    cursor: pointer; }
  .el-cascader .el-input__icon {
    -webkit-transition: none;
    transition: none; }
  .el-cascader .el-icon-arrow-down {
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    font-size: 14px; }
    .el-cascader .el-icon-arrow-down.is-reverse {
      -webkit-transform: rotateZ(180deg);
      transform: rotateZ(180deg); }
  .el-cascader .el-icon-circle-close {
    z-index: 2;
    -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1); }
    .el-cascader .el-icon-circle-close:hover {
      color: #909399; }
  .el-cascader__clearIcon {
    z-index: 2;
    position: relative; }
  .el-cascader__label {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0 25px 0 15px;
    color: #606266;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    text-align: left;
    font-size: inherit; }
    .el-cascader__label span {
      color: #000; }
  .el-cascader--medium {
    font-size: 14px;
    line-height: 36px; }
  .el-cascader--small {
    font-size: 13px;
    line-height: 32px; }
  .el-cascader--mini {
    font-size: 12px;
    line-height: 28px; }
  .el-cascader.is-disabled .el-cascader__label {
    z-index: 2;
    color: #c0c4cc; }

.el-cascader-menus {
  white-space: nowrap;
  background: #fff;
  position: absolute;
  margin: 5px 0;
  z-index: 2;
  border: solid 1px #e4e7ed;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1); }

.el-cascader-menu {
  display: inline-block;
  vertical-align: top;
  height: 204px;
  overflow: auto;
  border-right: solid 1px #e4e7ed;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 6px 0;
  max-width: 240px;
  min-width: 160px; }
  .el-cascader-menu:last-child {
    border-right: 0; }
  .el-cascader-menu__item {
    font-size: 14px;
    padding: 5px 20px;
    position: relative;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #606266;
    line-height: 20px;
    box-sizing: border-box;
    cursor: pointer;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    max-height: 50px;
    -webkit-line-clamp:2;
    outline: none; }
    .el-cascader-menu__item--extensible:after {
      font-family: 'element-icons';
      content: "\e604";
      font-size: 14px;
      color: #bfcbd9;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translate(0, -50%);
      }
    .el-cascader-menu__item.is-disabled {
      color: #c0c4cc;
      background-color: #fff;
      cursor: not-allowed; }
      .el-cascader-menu__item.is-disabled:hover {
        background-color: #fff; }
    .el-cascader-menu__item.is-active {
      color: #409EFF; }
    .el-cascader-menu__item:hover, .el-cascader-menu__item:focus:not(:active) {
      background-color: #f5f7fa; }
    .el-cascader-menu__item.selected {
      color: #fff;
      background-color: #f5f7fa; }
  .el-cascader-menu__item__keyword {
    font-weight: bold; }
  .el-cascader-menu--flexible {
    height: auto;
    max-height: 180px;
    overflow: auto; }
    .el-cascader-menu--flexible .el-cascader-menu__item {
      overflow: visible; }
